       {% include 'db_head.html' %}<!-- Start All Title Box -->
  {% load static %}<!-- Start All Title Box -->
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/2.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">Cart</h1>
          </div>
        </div>
      </div>
    </div>
<div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated" style="padding:30px 0 0 !important;">
	<span class="subheading">Our Products</span>
	<h2 class="mb-4">View Cart </h2>
	
  </div>
    <!-- End All Title Box -->
<section class="ftco-section ftco-cart" style="padding: 30px 0;">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>Sno</th>
						        <th>Images</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
							{% for i in product_detail %}
						      <tr class="text-center">
							  
						        
						        <td>{{forloop.counter}}</td>
						        <td class="image-prod"><div class="img" style="background-image:url(/media/{{i.image}});"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{i.name}}</h3>
						        	
						        </td>
						        
						        <td class="price">Rs {{i.price}}</td>
						         <td style="width:150px;"><form method="post">{% csrf_token %}
							<input type="number" name="tot" class="form-control" value="1" width="150px">
							<input type="hidden" value="{{i.price}}" name="price">
							</td>
							<td><input type="submit"  class="btn btn-primary py-3 px-4" value="Add to Cart"></td></form>
                                
						      </tr><!-- END TR-->
	
		{% empty %}
						<tr>
							<td colspan="8" class="text-center bg-danger">No Items in Basket <a href="{% url 'products' %}" class="btn btn-warning btn-xs" style="color: #000 !important;"><i class="fa fa-edit"></i> Item </a></td>
						</tr>
					{% endfor %}	     
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			
			</div>
		</section>
    <!-- Start Cart  -->
   
			</div>
    <!-- End Cart -->
	  {% include 'footer.html' %}